
<!-- Search form -->

<div class="container pt-5">

  <!-- Row -->
  <div class="row">
    <div class="col-xs align-self-center">
      Ordonnance:
    </div>
    <div class="col-sm">
        <input class="form-control form-control-sm w-100" type="text" placeholder="Entrez une référence Mimosa"
          aria-label="Search">
    </div>
    <div class="col-sm">
      <button (click)="searchPrescription()" type="button" class="btn btn-primary w-30">Rechercher</button>
    </div>
  </div>

  <!-- Row -->
  <div class="row pt-3">
    <div class="col-xs">
      Amétropie:
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
  </div>

  <!-- Row -->
  <div class="row pt-3">
    <div class="col-xs">
      Ophtalmologue:
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
  </div>

  <!-- Row -->
  <div class="row pt-3">
    <div class="col-xs">
      Opticien:
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
  </div>

  <!-- Row -->
  <div class="row pt-3">
    <div class="col-xs">
      Lieu:
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
  </div>

  <!-- Row -->
  <div class="row pt-3">
    <div class="col-xs">
      Date:
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
  </div>

  <!-- Row -->
  <div class="row pt-3">
    <div class="col-xs">
      Produit:
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
